<!DOCTYPE html>
<html>
  <head>
    <title>Listado de libros</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('../partials/nav.ejs') %>

    <h1>LISTADO DE LIBROS</h1>
    <ul class="lista">
           <% books.forEach(book => { %>
        <li class="lista-item">
            <a href="/libro/<%= book.idLibro %>" class="lista-item_link">
                <img src="/images/gatito.jpg" alt="" class="lista-item_img">
                <p class="lista-item_titulo">
                    <%= book.titulo %>
                </p>
            </a>
        </li>
    
        <% }) %>   
    </ul>    <!-- Acá termina el ul -->
    
  </body>
</html>